#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #map {
    height: 300px;
  }
}

.navbar-brand {
  margin: 0 60% 0 5%;
}

.intro {
  display: inline-flex;
  .intro-left {
    display: block;
    margin: 10% 0 10% 10%;
    p {
      font-size: medium;
      width: 80%;
    }
    span {
      color: orange;
    }
    button {
      padding: 1%;
      border-radius: 5px;
    }
  }
  img {
    margin: 0% 10% 0 0;
  }
}

.form {
  display: flex;
  h4 {
    margin: 3% 0% 3% 10%;
    width: 50%;
  }
  .form-right {
    display: flex;
    margin: 3% 0 3% 20%;
    width: 100%;
  }
}

.sleep {
  display: flex;
  img {
    margin: 5% 0% 10% 10%;
  }
  .sleep-right {
    margin: 10% 0 10% 7%;
    h5,
    p {
      width: 80%;
      margin-top: 3%;
    }
  }
}

.night {
  display: inline-flex;
  .night-left {
    display: block;
    margin: 10% 0 10% 10%;
    h5,
    p {
      width: 80%;
      margin-top: 3%;
    }
    button{
      margin-top:3%
    }
  }
  img {
    margin: 5% 10% 7% 0;
  }
}
