<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lynx-Shopsite</title>
  </head>
  <body>
    <p th:text="${message}"></p>
    <a href="/show_product">Display of all registered products</a>
    <br />
    <a href="/register_product">Product registration</a>
    <br />
    <a href="/update_product">Product update</a>
    <br />
    <a href="/delete_product">Delete product</a>
  </body>
</html>
