<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lynx-Shopsite</title>
  </head>
  <body>
    <p th:text="${message}"></p>
    <form th:action="@{/login_result}" th:object="${loginForm}" method="post">
      ID：<input type="text" th:field="*{id}" />
      <br />
      Your Name：<input type="text" th:field="*{name}" />
      <br />
      <input type="submit" value="Login" />
      <br />
    </form>
  </body>
</html>
