<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lynx-Shopsite</title>
  </head>
  <body>
    <p th:text="${message}"></p>
    <form th:action="@{/show_result}" th:object="${productForm}" method="post">
      Product code：<input type="text" th:field="*{code}" />
      <br />
      Product name：<input type="text" th:field="*{name}" />
      <br />
      Description ：<input type="text" th:field="*{description}" />
      <br />
      Price：<input type="text" th:field="*{price}" />
      <br />
      Evaluation：<input type="text" th:field="*{evaluation}" />
      <br />
      <input type="submit" value="Update" />
      <br />
    </form>
  </body>
</html>
